hr {
    border: double lavender;
}

h1{
    text-shadow: 3px 3px 4px cadetblue;
    font-family: verdana;           
    padding: 2px 2px 5px 50px;
    color:cadetblue;
    font-weight: bold;
    font-size: xx-large;
       
}
h1:first-letter {
    color:tomato;
}
h2{
    text-shadow: 3px 3px 4px cadetblue;
    font-family: verdana;           
    padding: 2px 2px 5px 50px;
    color:cadetblue;
    font-weight: bold;
    font-size: x-large;
       
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0 50px 0 50px;
}
#motto {
    padding: 320px 0px 0 0;
    color:cadetblue;
    font-size: larger;
    font-weight: bold;
    font-style: italic;    
}

body {
    background: rgb(164,12,40);
background: radial-gradient(circle, rgba(164,12,40,1) 10%, rgba(78,64,97,1) 58%);
    display: block;
    margin: 0 auto;
}
#navUl {
    text-align: center;
    list-style-type: none;
    margin: 25px;
    padding: 0;
}
.navList {
display: inline;
background-color: lavender; border: 3px solid cadetblue; 
border-radius: 25px; 
margin-top: 3px ;  
font-family: Verdana, Geneva, Tahoma, sans-serif;
padding: 15px;
margin: 10px;
font-weight: bold;
}
.liAbout {
    padding: 0 50px 0 30px;
}
footer {
    text-align: center;
    font-size: 10px;
    font-style: italic;          
    color: aliceblue;
    margin: 0;
}
img {
    margin-left: 30px;
    border: cadetblue solid 2px;
    border-radius: 90px;
    height: 400px;
    width: 400px;
    float: left;  
}
section {
    background-color: lavender; 
    border: 3px solid cadetblue; 
    border-radius: 15px; 
    margin-top: 10px; 
    padding: 50px 10px 10px 10px;
}

#wrapper {
    min-width: 1000px;
    overflow: scroll;
}
#divHome {
    display: flex;
    align-items: start;
}
#divAboutMe {
    display: block;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p:href {
    padding-left: 20px;
}


